/* -----------------------------------------------------------------------------
breakpoint-1024
-----------------------------------------------------------------------------*/

@media all and (min-width: 1024px) {

  /* ======== main page =========*/

  /* header */

  .header-title {

    font-size: 4em;

  }


  /* nav and link appearance */

  nav {
    font-size: 1em;
  }


  /* hero image */

  .hero-image {
    padding-top: 270px;
    position: relative;
  }

  .hero-main-text {

    margin-top: 10em;
    margin-left: 3em;
    font-size: 3em;
    letter-spacing: 0.1em;
  }

  .hero-sub-text {
    margin-top: 19em;
    margin-left: 19em;
    font-size: 2em;
    letter-spacing: 0.1em;
  }

  /* index.html page */

  /* text */

  .first-black-block-column {
  padding: 3em 0em;
  }

  .black-block-column {
    padding-top: 40px;
  }

  h2 {

    font-size: 3em;
    letter-spacing: 0.1em;

  }

  h3 {

    font-size: 1.3em;

  }

  .programs {

    font-size: 1.6em;

  }


  .testimonial-button {

  font-size: 1.8em;
  margin: 0.1em 6em;
  }

  /* about.html images */

  .cufflink-img {
    padding-top: 205px;
  }


  /*logos*/

  .container {
    display: inline-block;
  }

  .capic-logo {
    height:auto;
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
  }

  .iccrc-logo {
    height:auto;
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
  }

  filmex-logo {
    height: auto;
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
  }


  /* about.html text */


  .quote-column-content {

    color:  white;
    font-size: 1.2em;
    letter-spacing: 0.3em;
    line-height: 1.7em;

  }

  /* distinguishes first line of text and emphasizes it*/

  .lead-text {

    font-size: 2.5em;
    letter-spacing: 0.1em;
  }

  /* to be used for big parapgraphs that need to be readable */

  .big-paragraph {

    font-size: 1.5em;
    letter-spacing: 0.2em;
  }

  /* contact page */

  .office-location {

    padding-top: 248px;

  }

  .contact-information {
    font-size: 1.3em;
    letter-spacing: 1.5px;
    padding: 1em 1em;
  }

  /* form */

  .form-title {
    font-size: 1.7em;
    letter-spacing: 0.3em;
  }


  form:hover {
    text-align: center;
  }

}
