/*-----------------------------------------------------------------------------
2.breakpoint-480
-----------------------------------------------------------------------------
*/


@media all and (min-width: 480px) {


/* ======== main page =========*/

/* header */

.header-title {

  font-size: 2em;

}


/* hero image */

.hero-image {
  padding-top: 205px;
  position: relative;
}

.hero-main-text {

  margin-top: 13.5em;
  margin-left: 3em;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.hero-sub-text {
  margin-top: 27em;
  margin-left: 18em;
  font-size: 1em;
  letter-spacing: 0.3em;
}

/* index.html page */

/* text */

.first-black-block-column {
padding: 3em 0em;
}

.black-block-column {
  padding-top: 40px;
}

h2 {

  font-size: 2em;
  letter-spacing: 0.1em;

}

h3 {

  font-size: 1.2em;

}

.programs {

  font-size: 1.3em;

}


.testimonial-button {

font-size: 1.4em;

}

.location-description {

  font-size: 1.2em;
}



/* about.html images */

.cufflink-img {

  padding-top: 205px;

}

/*logos*/

.container {
  display: inline-block;
}

.capic-logo {
  height:auto;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}

.iccrc-logo {
  height:auto;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
}

filmex-logo {
  height: auto;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
}


/* about.html text */



.quote-column-content {

  font-size: 0.9em;
  letter-spacing: 0.1em;
  line-height: 1.8em;

}

/* distinguishes first line of text and emphasizes it*/

.lead-text {

  font-size: 1.5em;
  letter-spacing: 0.1em;
}

/* to be used for big parapgraphs that need to be readable */

.big-paragraph {

  font-size: 1em;
}

/* contact page */

.office-location {

  padding-top: 215px;

}

.contact-information {
  font-size: 1.3em;
  letter-spacing: 1.5px;
  padding: 1em 1em;
}

/* form */


.form-title {
  font-size: 1.3em;
  letter-spacing: 0.3em;
}

form {
  width: 50%;
}

form:hover {
  width: 70%;

}

}
