/*-----------------------------------------------------------------------------
2.breakpoint-480
-----------------------------------------------------------------------------
*/


@media all and (min-width: 480px) {


/* ======== main page =========*/

/* header */

.header-title {

  font-size: 2em;

}


/* nav and link appearance */

nav {
  font-size: 1em;
}


/* hero image */

.hero-image {
  padding-top: 205px;
  position: relative;
}

.hero-main-text {

  margin-top: 13.5em;
  margin-left: 3em;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.hero-sub-text {
  margin-top: 27em;
  margin-left: 18em;
  font-size: 1em;
  letter-spacing: 0.5px;
}

/* index.html page */

/* text */

.first-black-block-column {
padding: 3em 0em;
}

.black-block-column {
  padding-top: 40px;
}

h2 {

  font-size: 2em;
  letter-spacing: 0.1em;

}

h3 {

  font-size: 1.2em;

}

.testimonial-button {

font-size: 1em;
margin-right: 30px;

}


.location-description {
  content: "";
  display: table;
  clear: both;
  width: 33%
  float: right;
  padding: 0px;
}


/* directions, email, links are wrapped in span*/

span {
  background-color: black;
  color: white;
}

/* link for ICCRC */

#ICCRC-link {
  text-color: black;
}

/* index.html images */
.man-in-library-image {
  display: block;
  margin: 0 auto;
  width: 100%;

}

.paper-map-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}


.team-meeting-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.heart-drawing-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* about.html images */

.cufflink-img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 205px;
  position: relative;
}

.suit-img {
  display: block;
  width: 100%;
  height: auto;
}

.book-img {
  display: block;
  width: 100%;
  height: auto;
}

/*logos*/

.container {
  display: inline-block;
}

.capic-logo {
  height:auto;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}

.iccrc-logo {
  height:auto;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
}

filmex-logo {
  height: auto;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
}


/* about.html text */

.quote-column {
  background-color: black;
  display:block;
  width: 100%;
  height: auto;
}

.quote-column-content {

  color:  white;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  line-height: 40px;

}

/* distinguishes first line of text and emphasizes it*/

.lead-text {

  font-size: 1.5em;
  letter-spacing: 1.5px;
}

/* to be used for big parapgraphs that need to be readable */

.big-paragraph {

  font-size: 1em;
  letter-spacing: 1.7px;
}

/* contact page */

.office-location {

  padding-top: 215px;

}

.contact-information {
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto', georgia, monospace;
  border: 25px solid white;
  letter-spacing: 1.5px;
  line-height: 5px;
  padding: 10px 10px;
}

/* form */
.contact-form-background {
  background-color: black;
  display:block;
  width: 100%;
  height: auto;
}

.form-title {
  color: black;
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto', georgia, monospace;
  letter-spacing: 1.5px;
  margin:auto;
  text-decoration: underline;
}

}
