/*
===============================================================================
                              LEGEND:

                              1. improvement for future and celebrations
                              2. base breakpoint
                              3. mobileup.css 480
                              4. tabletup.css 720
                              5. desktopup.css 1024

                              (in descending order)
                              fontfaces, clearfixes, page-content
                              header, body, nav
                              hero image, text, top banner
                              index.html
                              black columns
                              h3, h3 text
                              testimonial-button
                              links, email
                              index.html images
                              about.html images
                              logos
                              about.html text
                              lead text and big paragraph
                              contact page
                              form
                              form text


===============================================================================
*/


/*-----------------------------------------------------------------------------
                           1.improvement for future:

                           1. compress and reformat images even more.
                           2. use fontfaces more than googlefonts
                           3. use LESS or SASS

                            2. CROSS BROWSER TEST

                            A. CELEBRATIONS
                            BASE BREAKPOINT COMPLETE
                            480 BREAKPOINT COMPLETE
                            720 BREAKPOINT COMPLETE
                            1024 BREAKPOINT COMPLETE
                            CSS COMPLETELY VALIDATED
                            INDEX.HTML COMPLETELY VALIDATED
                            ABOUT.HTML COMPLETELY VALIDATED
                            CONTACT.HTML 99.5% VALIDATED
                            JS VALIDATED
                            ACCESSIBILITY VALIDATED
                            COLOR BLIND VALIDATED
                            SPEED TEST VALIDATED (Page size: 974.1kB, Load time: 618ms
                            Perf. grade 88/100)

-------------------------------------------------------------------------------
*/

/*========================================================
2. base breakpoint
==========================================================*/

/* font faces and clearfixes */

@font-face {
    font-family: 'robotobold';
    src: url('../font-faces/Roboto-Bold-webfont.eot');
    src: url('../font-faces/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font-faces/Roboto-Bold-webfont.woff') format('woff'),
         url('../font-faces/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../font-faces/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix:before{
  content: "";
  display: table;
  clear: both;
}

.page-content {
width: 100%;
overflow: hidden;
}

/* HEADER, BODY, NAV */

  body { margin: 0px;
  }

  header {
    text-align: center;
    margin: 0px;
    /* background-image: linear-gradient(
      to right, rgba(53, 48, 44, 1) 0%, rgba(53, 48, 48, 0.9) 33%,
      rgba(53, 48, 48, 0.6) 66%, rgba(53, 48, 48, 0.3) 100%);*/
    background-color: black;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .header-title {
    text-align: center;
    font-size: 1.5em;
    color: rgba(248, 255, 255, 0.9);
    font-weight: bold;
    font-family:  'robotobold',sans-serif, monospace;
    text-transform: uppercase;
    margin-top: 0px;
    letter-spacing: 3px;
    padding-top: 3vh;
    padding-left: 3vh;
  }


  /* nav and link appearance */

  nav {
    font-size: 1em;
    color: rgba(248, 255, 255, 0.9);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family:  'Roboto:100', sans-serif, monospace;
    padding-top: 1vh;
    padding-right: 40px;
    padding-bottom: 1px;
    text-align: center;
  }

  li {
    margin-top: 20px;
    margin-left: 10px;
    display: inline;
  }

  a:link  {
    color: rgba(248, 255, 255, 0.9);
    text-decoration:none;
  }

  a:visited {
    color: rgba(248, 255, 255, 0.9);
  }

  a:hover {
    color: white;
  }

  a:active {
    color: white;
  }

  footer {
    position: absolute;
    text-align: center;
    margin: 0px;
    /* background-image: linear-gradient(
      to right, rgba(53, 48, 44, 1) 0%, rgba(53, 48, 48, 0.9) 33%,
      rgba(53, 48, 48, 0.6) 66%, rgba(53, 48, 48, 0.3) 100%);*/
      background-color: black;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .footer-text {
    font-size: 1em;
    color: rgba(248, 255, 255, 0.9);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family:  'Roboto:100', sans-serif, monospace;
    text-align: center;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    border: 0px;
   }

  /* hero image, text, top banner */

  .top-banner {
      background-image: url('images/hero-img-index.jpg');
      background-size: cover ;
      height: 53vh;
  }

  .hero-image {
    width: 100%;
    height: auto;
    padding-top: 100px;
    position: relative;
  }

  .hero-main-text {
    position: absolute;
    width: 70%;
    margin-top: 18vh;
    margin-left: 15vw;
    font-size: 1.3em;
    font-family: 'robotobold', sans-serif, monospace;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    background-color:  rgba(53, 48, 48, 0.5);
    border:none 15px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:10px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:5px;
  }

  .hero-sub-text {
    position: absolute;
    margin-top: 34vh;
    margin-left: 38vw;
    font-size: 1em;
    font-family: 'Roboto Slab', sans-serif, monospace;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: lowercase;
    color: white;
    z-index: 1;
    border:none 15px #1a121a;
    background-color:  rgba(53, 48, 48, 0.5);
    border:none 7px #1a121a;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:24px;
  -moz-border-radius-bottomleft:29px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:24px;
  -webkit-border-bottom-left-radius:29px;
  -webkit-border-bottom-right-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:24px;
  border-bottom-left-radius:29px;
  border-bottom-right-radius:0px;

  }

  /* index.html page */

  /* black columns */

  .first-black-block-column {

    padding: 2em 0em;
    background-color: black;
    display:block;
    width: 100%;
    height: auto;
    margin: auto;

  }

  .black-block-column {
    padding-top: 3em;
    background-color: black;
    display:block;
    width: 100%;
    height: 100px;
  }

/* h2, h3 text */

  h2 {
    margin: auto;
    padding-top: 0px;
    color:  white;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif, monospace;
    letter-spacing: 0.5px;
    text-transform: uppercase;

  }

  h3 {
    color: black;
    font-size: 1em;
    text-align: left;
    font-family: 'Roboto', georgia, monospace;
    border: 1px solid white;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin: 1.5em 2em;
  }


  .who-we-are {
    text-align: left;
  }

  .programs {

    text-align: center;
    color: black;
    font-size: 1.3em;
    font-family: 'Roboto', georgia, monospace;
    letter-spacing: 0.1em;
    line-height: 2em;
    padding-right: 2.7em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

/* testimonial button */

  .testimonial-button {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  width: 60%;
  padding-right: 20px;
  background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#8B958C), to(#5B6765));
  color: black;
  font-size: 1.3em;
  font-family: 'Roboto', georgia, monospace;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  margin: 0.1em 2.5em;
  }


  /* links, email */

  #ICCRC-link {
    color: black;
  }

  #email, #directions {
    color: black;
  }

  #email:hover, #directions:hover {
    color: white;
    background-color: black;
  }

  #email:active, #directions:active {
    color: grey;
    background-color: black;
  }


  /* index.html images */
  .man-in-library-image {
    display: block;
    margin: 0 auto;
    width: 100%;

  }

  .paper-map-image {
    display: block;
    margin: 0 auto;
    width: 100%;
  }


  .team-meeting-image {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .heart-drawing-image {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  /* about.html images */

  .cufflink-img {
    display: block;
    width: 100%;
    height: 59vh;
    padding-top: 0vh;
    position: relative;
  }

  .suit-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .book-img {
    display: block;
    width: 100%;
    height: auto;
  }

  /*logos*/

  .container {
    display: inline-block;
  }

  .capic-logo {
    height: auto;
    width: 18%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
  }

  .iccrc-logo {
    height:auto;
    width: 38%;
    padding-left: 10px;
    padding-right: 10px;
  }

  filmex-logo {
    height: auto;
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
  }


  /* about.html text */

  .quote-column {
    background-color: black;
    display:block;
    width: 100%;
    height: auto;
  }

  .quote-column-content {
    margin: 0px;
    padding-top: 0px;
    color:  white;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif, monospace;
    letter-spacing: 0.2em;
    line-height: 1.8em;
    text-transform: uppercase;
  }

  /* distinguishes first line of text and emphasizes it*/

/* lead text and big paragraph */

  .lead-text {
    color: black;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Roboto', georgia, monospace;
    letter-spacing: 0.3em;
  }

  /* to be used for big parapgraphs that need to be readable */

  .big-paragraph {
    color: black;
    font-size: 0.9em;
    text-align: left;
    font-family: 'Roboto', georgia, monospace;
    border: 1px solid white;
    letter-spacing: 0.2em;
    line-height: 1.4em;
  }

  /* contact page */

  .google-map {
    width: 100%;
    height: 35vh;
    border-bottom: 1px solid black;
  }

  .location-description {
      width: 100%;
      height: auto;
      padding: 1em 0.1em;
      margin: auto;
      position: relative;
      text-align: center;
      color: black;
      font-size: 1.1em;
      font-family: 'Roboto', georgia, monospace;
      letter-spacing: 0.1em;
      line-height: 2em;
  }

  .contact-information {
    color: black;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Roboto', georgia, monospace;
    letter-spacing: 1.5px;
    line-height: 3em;
    padding: 1em 1em;
  }

  /* form */

  .form-title {
    color: black;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Roboto', georgia, monospace;
    letter-spacing: 1.5px;
    margin:auto;
    text-decoration: underline;
    padding-top: 1em;
  }

  form {
  transition: all 2s ease;
  background-image: linear-gradient(
        to right, rgba(53, 48, 44, 1) 0%, rgba(53, 48, 48, 0.9) 33%,
        rgba(53, 48, 48, 0.6) 66%, rgba(53, 48, 48, 0.3) 100%);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  text-align: left;
  width: 55%;
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45),
  0px 2px 2px rgba(0, 0, 0, 0.25);

  }

  form:hover {
  background-image: linear-gradient(
        to right, rgba(53, 48, 44, 1) 0%, rgba(53, 48, 48, 0.9) 33%,
        rgba(53, 48, 48, 0.6) 66%, rgba(53, 48, 48, 1) 100%);
  background-color: grey;
  padding: 50px;
  border-radius: 10px;
  text-align: left;
  width: 77%;
  height: auto;
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45),
  0px 2px 2px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  }

  form {
  margin-bottom: 30px;
  padding-bottom: 20px;
  }

  input {
  border-radius: 5px;
  }

  button {
  background-color: white;
  border-radius: 5px;
  }

  button:hover {
  color: hsla(0, 0%, 25%, 1);
  }

  button:active {
  color: green;
  }

  input:focus, textarea:focus {
  background: grey;
  max-width: 120px;
  }

/* form text */

  .fill-info {
  color: black;
  font-size: 20px;
  margin-bottom: 5em;

  }

  /*-----------------------------------------------------------------------------
  3.breakpoint-480 mobileup.css
  -----------------------------------------------------------------------------
  */

  @media all and (min-width: 480px) {


  /* ======== main page =========*/

  /* header */

  .header-title {

    font-size: 2em;

  }


  /* hero image */

  .hero-image {
    padding-top: 205px;
    position: relative;
  }

  .hero-main-text {

    margin-top: 15vh;
    margin-left: 14vw;
    font-size: 1.5em;
    letter-spacing: 0.1em;
  }

  .hero-sub-text {
    margin-top: 33vh;
    margin-left: 58vw;
    font-size: 1em;
    letter-spacing: 0.3em;
  }

  /* index.html page */

  /* text */

  .first-black-block-column {
  padding: 3em 0em;
  }

  .black-block-column {
    padding-top: 40px;
  }

  h2 {

    font-size: 2em;
    letter-spacing: 0.1em;

  }

  h3 {

    font-size: 1.2em;

  }

  .programs {

    font-size: 1.3em;

  }


  .testimonial-button {

  font-size: 1.4em;
  padding-left: 4vh;
  margin-left: 10vh;
  }

  .location-description {

    font-size: 1.1em;
    line-height: 2em;
  }



  /* about.html images */

  .cufflink-img {

  height: 56vh;
  }

  /*logos*/

  .container {
    display: inline-block;
  }

  .capic-logo {
    width: 25%;
  }

  .iccrc-logo {
    width: 33%;
  }

  /* about.html text */



  .quote-column-content {

    font-size: 0.9em;
    letter-spacing: 0.1em;
    line-height: 1.8em;

  }

  /* distinguishes first line of text and emphasizes it*/

  .lead-text {

    font-size: 1.5em;
    letter-spacing: 0.1em;
  }

  /* to be used for big parapgraphs that need to be readable */

  .big-paragraph {

    font-size: 1em;
  }

  /* contact page */

  .office-location {

    padding-top: 215px;

  }

  .contact-information {
    font-size: 1.3em;
    letter-spacing: 1.5px;
    padding: 1em 1em;
  }

  /* form */


  .form-title {
    font-size: 1.3em;
    letter-spacing: 0.3em;
  }

  form {
    width: 50%;
  }

  form:hover {
    width: 70%;

  }

  }

  /*-----------------------------------------------------------------------------
   4.breakpoint-720 tabletup.css
  -----------------------------------------------------------------------------*/

  @media all and (min-width: 720px) {

    /* ======== main page =========*/

    /* header */

    .header-title {

      font-size: 3em;

    }

    /* hero image */

    .hero-image {
      padding-top: 247px;
      position: relative;
      height: 52vh;
    }

    .hero-main-text {

      margin-top: 22vh;
      margin-left: 16vw;
      font-size: 2em;
      letter-spacing: 0.1em;
    }

    .hero-sub-text {
      margin-top: 38vh;
      margin-left: 59vw;
      font-size: 1.5em;
      letter-spacing: 0.3em;
    }

    /* index.html page */

    /* text */

    .first-black-block-column {
    padding: 3em 0em;
    }

    .black-block-column {
      padding-top: 40px;
    }

    h2 {

      font-size: 2em;
      letter-spacing: 0.1em;

    }

    h3 {

      font-size: 1.2em;

    }

    .programs {

      font-size: 1.6em;

    }

    .testimonial-button {

    font-size: 1.6em;
    margin: 0.1em 4.5em;
    }

    .location-description {

      font-size: 1.4em;

    }
    /* about.html images */

    .cufflink-img {
      height: 63vh;
    }


    /*logos*/

    .capic-logo {
      width: 15%;
      padding-left: 2.5em;
    }

    .iccrc-logo {
      width: 40%;
    }

    /* about.html text */


    .quote-column-content {

      font-size: 1.2em;
      letter-spacing: 0.3em;
      line-height: 1.7em;

    }

    /* distinguishes first line of text and emphasizes it*/

    .lead-text {

      font-size: 2em;
      letter-spacing: 0.1em;
    }

    /* to be used for big parapgraphs that need to be readable */

    .big-paragraph {

      font-size: 1.2em;
      letter-spacing: 0.2em;
    }

    /* contact page */

    .office-location {

      padding-top: 248px;

    }

    .contact-information {
      font-size: 1.3em;
      letter-spacing: 1.5px;
      padding: 1em 1em;
    }

    /* form */

    .form-title {
      font-size: 1.7em;
      letter-spacing: 0.3em;
    }


    form:hover {
      text-align: center;
    }

  }

  /* -----------------------------------------------------------------------------
  5. breakpoint-1024 desktopup.css
  -----------------------------------------------------------------------------*/

  @media all and (min-width: 1024px) {

    /* ======== main page =========*/

    /* header */

    .header-title {

      font-size: 4em;

    }


    /* nav and link appearance */

    nav {
      font-size: 1em;
    }


    /* hero image */

    .hero-image {
      padding-top: 270px;
      position: relative;
      height: 72vh;
    }

    .hero-main-text {
      margin-top: 22vh;
      margin-left: 16vw;
      font-size: 3em;
      letter-spacing: 0.1em;
  }

  .hero-sub-text {
      margin-top: 44vh;
      margin-left: 50vw;
      font-size: 2em;
      letter-spacing: 0.1em;
    }

    .top-banner {
        background-image: url("images/hero-img-index.jpg");
        background-size: cover;
        height: 100vh;
    }


    /* index.html page */

    .man-in-library-image {
      height: 85vh
    }

    .paper-map-image {
      height: 85vh
    }


    .team-meeting-image {
      height: 85vh
    }

    .heart-drawing-image {
      height: 85vh
    }


    /* text */

    .first-black-block-column {
    padding: 7em 0em;
    }

    .black-block-column {
      padding: 5em 0em;
      height: 3em;

    }

    h2 {

      font-size: 2.5em;
      letter-spacing: 0.1em;

    }

    h3 {

      font-size: 1.3em;
      padding: 2em;

    }

    .programs {

      font-size: 1.6em;

    }


    .testimonial-button {

    font-size: 1.8em;
    margin: 0.1em 6em;
    width: 112vh;
    }

    .location-description {

      font-size: 1.6em;
    }


    /* about.html images */

    .cufflink-img {
      height: 85vh;
    }

    .suit-img {
      display: block;
      width: 100%;
      height: 85vh;
    }

    .book-img {
      display: block;
      width: 100%;
      height: 85vh;
    }


    /*logos*/

    .capic-logo {
      width: 16%;
      padding-left: 3em;
    }

    .iccrc-logo {
      height:auto;
      width: 41%;
      padding-left: 10px;
      padding-right: 10px;
    }

    /* about.html text */


    .quote-column-content {

      font-size: 1.5em;
      letter-spacing: 0.3em;
      line-height: 1.7em;

    }

    /* distinguishes first line of text and emphasizes it*/

    .lead-text {

      font-size: 2.5em;
      letter-spacing: 0.1em;
    }

    /* to be used for big parapgraphs that need to be readable */

    .big-paragraph {

      font-size: 1.5em;
      letter-spacing: 0.2em;
    }

    /* contact page */

    .office-location {

      padding-top: 248px;

    }

    .contact-information {
      font-size: 1.3em;
      letter-spacing: 1.5px;
      padding: 1em 1em;
    }

    /* form */

    .form-title {
      font-size: 1.7em;
      letter-spacing: 0.3em;
    }


    form:hover {
      text-align: center;
    }

  }
