/*
===============================================================================
                              LEGEND:

                              1.issues
                              2.breakpoint-480
                              3.breakpoint-720
                              4.breakpoint-1024
===============================================================================
*/


/*-----------------------------------------------------------------------------
                           1.issues to fix:


                              incorporate typography em/rem
                              style site before 420 and after 1080 breakpoint
                              add content to main page to let users know what the site is about
                              clean code
                              hero images need to be reformatted (size)
                              fix text to adapt with header
                              fix hero images so they dont leave space with different break points
-------------------------------------------------------------------------------
*/

@font-face {
    font-family: 'robotobold';
    src: url('../font-faces/Roboto-Bold-webfont.eot');
    src: url('../font-faces/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font-faces/Roboto-Bold-webfont.woff') format('woff'),
         url('../font-faces/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../font-faces/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*-----------------------------------------------------------------------------
2.breakpoint-480
-----------------------------------------------------------------------------
*/

@media all and (min-width: 480px) {



/* ======== main page =========*/

/* header */

body { margin: 0px;
}

header {
  position:absolute;
  text-align: center;
  margin: 0px;
  background-image: linear-gradient(
    to right, rgba(53, 48, 44, 1) 0%, rgba(53, 48, 48, 0.9) 33%,
    rgba(53, 48, 48, 0.6) 66%, rgba(53, 48, 48, 0.3) 100%);
  width: 100%;
  height: 5%;
}

.header-title {
  width: 66%;
  float:left;
  font-size: 12px;
  color: rgba(248, 255, 255, 0.9);
  font-weight: bold;
  font-family:  'roboto:100',sans-serif, monospace;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

/* nav and link appearance */

nav {
  font-size: 15px;
  color: rgba(248, 255, 255, 0.9);
  border-top: 0px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family:  'Roboto:100', sans-serif;, sans-serif, monospace;
  width: 33%;
  float:right;
  padding-top: 0px;

}

li {
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
}


a:link  {
  color: rgba(248, 255, 255, 0.9);
  text-decoration:none;
}

a:visited {
  color: rgba(248, 255, 255, 0.9);
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

/* hero image */

.hero-image {
  margin-top: 97px;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.hero-main-text {
  position: absolute;
  margin-top: 180px;
  margin-left: 55px;
  font-size: 30px;
  font-family: 'robotobold', sans-serif, monospace;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: white;

  background-color:  rgba(53, 48, 48, 0.5);
  border:none 15px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright:0px;
  -moz-border-radius-bottomleft:0px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:5px;
  border-top-left-radius:10px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:5px;
}

.hero-sub-text {
  position: absolute;
  margin-top: 225px;
  margin-left: 150px;
  font-size: 15px;
  font-family: 'Roboto+Slab', sans-serif, monospace;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: lowercase;
  color: white;
  border:none 15px #1a121a;
  background-color:  rgba(53, 48, 48, 0.5);
  border:none 7px #1a121a;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright:24px;
-moz-border-radius-bottomleft:29px;
-moz-border-radius-bottomright:0px;
-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:24px;
-webkit-border-bottom-left-radius:29px;
-webkit-border-bottom-right-radius:0px;
border-top-left-radius:0px;
border-top-right-radius:24px;
border-bottom-left-radius:29px;
border-bottom-right-radius:0px;

}

/* about page */

/* text */

.first-black-column {
  border-top: 5px black solid;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:block;
  width: 100%;
  height: 150px;
  margin: 0px;
}

.black-block-column {
  padding-top: 40px;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:block;
  width: 100%;
  height: 100px;
}

h2 {
  margin: 0px;
  padding-top: 0px;
  color:  white;
  font-size: 34px;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif, monospace;
  letter-spacing: 0.5px;
  text-transform: uppercase;

}

h3 {
  color: black;
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto', georgia, monospace;
  border: 1px solid white;
  letter-spacing: 1.5px;
  line-height: 40px;
}

 ul {


 }

.who-we-are {
  text-align: left;
}


.testimonial-button {
border-top-left-radius: 5px;
border-bottom-right-radius: 5px;
text-align: center;
font-size: 25px;
margin: 0px;
background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#8B958C), to(#5B6765));
-moz-box-shadow: 4px 6px 40px #000000;
-webkit-box-shadow: 4px 6px 40px #000000;
box-shadow: 4px 6px 40px #000000;
}


.location-description:after {
  content: "";
  display: table;
  clear: both;
  width: 33%
  float: right;
  padding: 0px;
}


/* directions, email, links are wrapped in span*/

span {
  background-color: black;
  color: white;
}

/* link for ICCRC */

#ICCRC-link {
  text-color: black;
}

/* images */

.about-main-img {
  margin-top: 97px;
  background-image: url("../images/about-main-img.jpe") no-repeat scroll center;
  width: 100%;
  height: auto;
}

.man-in-library-image {
  display: block;
  margin: 0 auto;
  width: 100%;

}

.paper-map-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}


.team-meeting-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.heart-drawing-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.office-location {
  margin-top: 97px;
  width: 100%;
  height: auto;
}

/* contact page */

.contact-information {
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto', georgia, monospace;
  border: 25px solid white;
  letter-spacing: 1.5px;
  line-height: 5px;
  padding: 10px 10px;
}

/*-----------------------------------------------------------------------------
 3.breakpoint-720
-----------------------------------------------------------------------------*/

@media all and (min-width: 720px) {


  body { margin: 0px;
  }

  header {
    position:absolute;
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(
      to right, rgba(53, 48, 44, 1) 0%, rgba(53, 48, 48, 0.9) 33%,
      rgba(53, 48, 48, 0.6) 66%, rgba(53, 48, 48, 0.3) 100%);
    width: 100%;
  }

  .header-title {
    width: 33%;
    float:left;
    font-size: 25px;
    color: rgba(248, 255, 255, 0.9);
    font-weight: bold;
    font-family:  'robotobold',sans-serif, monospace;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
  }

  /* nav and link appearance */

  nav {
    font-size: 15px;
    color: rgba(248, 255, 255, 0.9);
    border-top: 0px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family:  'Roboto:100', sans-serif;, sans-serif, monospace;
    width: 66%;
    float:right;
    padding-top: 90px;
    position: absolute;

  }

  li {
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
  }



/* main page */

.hero-image {
    margin-top: 156px;
    width: 100%;
    height: 100%;
    background-size: cover;
}
  .hero-main-text {
    position: absolute;
    font-size: 40px;
    font-family: 'robotobold', sans-serif, monospace;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 300px;
    margin-left: 85px;
    background-color:  rgba(53, 48, 48, 0.5);
    border:none 15px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:51px;
    -webkit-border-top-left-radius:50px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:51px;
    border-top-left-radius:50px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:51px;

  }

  .hero-sub-text {
    position: absolute;
    font-size: 20px;
    font-family: 'Roboto Slab', sans-serif, monospace;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    text-transform: lowercase;
    margin-top: 359px;
    margin-left: 300px;
    border:none 15px #1a121a;
    background-color:  rgba(53, 48, 48, 0.5);
    border:none 7px #1a121a;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:24px;
  -moz-border-radius-bottomleft:29px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:24px;
  -webkit-border-bottom-left-radius:29px;
  -webkit-border-bottom-right-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:24px;
  border-bottom-left-radius:29px;
  border-bottom-right-radius:0px;
  }


/* about */

.about-main-img {
  margin-top: 156px;
  background-image: url("../images/about-main-img.jpe") no-repeat scroll center;
  width: 100%;
  height: auto;
}

/* contact */

.office-location {
  margin-top: 156px;
  width: 100%;
  height: auto;
}

.contact-information {
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto', georgia, monospace;
  border: 25px solid white;
  letter-spacing: 1.5px;
  line-height: 5px;
  padding: 15px 15px;
}


/* -----------------------------------------------------------------------------
breakpoint-1024
-----------------------------------------------------------------------------*/

@media all and (min-width: 1024px) {

  body { margin: 0px;
  }

  header {
    position:absolute;
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(
      to right, rgba(53, 48, 44, 1) 0%, rgba(53, 48, 48, 0.9) 33%,
      rgba(53, 48, 48, 0.6) 66%, rgba(53, 48, 48, 0.3) 100%);
    width: 100%;
  }

  .header-title {
    width: 33%;
    float:left;
    font-size: 25px;
    color: rgba(248, 255, 255, 0.9);
    font-weight: bold;
    font-family:  'robotobold',sans-serif, monospace;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
  }

  /* nav and link appearance */

  nav {
    font-size: 15px;
    color: rgba(248, 255, 255, 0.9);
    border-top: 0px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family:  'Roboto:100', sans-serif;, sans-serif, monospace;
    width: 66%;
    float:right;
    padding-top: 90px;
    position: absolute;
  }

  li {
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
  }


  /* main page */

  .hero-image {
    margin-top: 67px;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .hero-main-text {
    position: absolute;
    font-size: 60px;
    font-family: 'Roboto Slab', sans-serif, monospace;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 270px;
    margin-left: 100px;
    background-color:  rgba(53, 48, 48, 0.5);
    border:none 15px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:51px;
    -webkit-border-top-left-radius:50px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:51px;
    border-top-left-radius:50px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:51px;
  }

  .hero-sub-text {
    position: absolute;
    font-size: 25px;
    font-family: 'Roboto Slab', sans-serif, monospace;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    text-transform: lowercase;
    margin-top: 348px;
    margin-left: 450px;
    border:none 15px #1a121a;
    background-color:  rgba(53, 48, 48, 0.5);
    border:none 7px #1a121a;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright:24px;
  -moz-border-radius-bottomleft:29px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:24px;
  -webkit-border-bottom-left-radius:29px;
  -webkit-border-bottom-right-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:24px;
  border-bottom-left-radius:29px;
  border-bottom-right-radius:0px;
  }

/* about */


/*text*/

.first-black-column {
  font-size: 45px;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:block;
  width: 100%;
  height: 150px;
  padding-top: 70px;
  margin: 0 auto;
}

.black-block-column {
  padding-top: 40px;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:block;
  width: 100%;
  height: 100px;
}

h2 {
  margin: 0px;
  padding-top: 0px;
  color:  white;
  font-size: 34px;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif, monospace;
  letter-spacing: 0.5px;
  text-transform: uppercase;

}

h3 {
  padding: 15px 15px;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto', georgia, monospace;
  border: 1px solid white;
  letter-spacing: 1.5px;
  line-height: 40px;
}

.who-we-are {
  text-align: left;
}

.testimonial-button {
border-top-left-radius: 5px;
border-bottom-right-radius: 5px;
background-color: rgba(69, 51, 60, 0.6);
margin: 10px 10px;
transition: all 0.1s ease 0.4s;
font-size: 15px;
}

.testimonial-button:hover {
  font-size: 25px;
  background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#8B958C), to(#5B6765));
  -moz-box-shadow: 4px 6px 40px #000000;
  -webkit-box-shadow: 4px 6px 40px #000000;
  box-shadow: 4px 6px 40px #000000;
}


/* images */

    .about-main-img {
      margin-top: 67px;
      background-image: url("../images/about-main-img.jpe") no-repeat scroll center;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .man-in-library-image {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: auto;
    }

    .paper-map-image {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: auto;
    }


    .team-meeting-image {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: auto;
    }

    .heart-drawing-image {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: auto;
    }


/*contact*/

    .contact-information {
      color: black;
      font-size: 20px;
      text-align: center;
      font-family: 'Roboto', georgia, monospace;
      border: 25px solid white;
      letter-spacing: 1.5px;
      line-height: 5px;
      padding: 15px 15px;
}
